/* intuitivnější box-sizing pro všechny prvky na stránce */
html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }


/*
	Poznámky:
	- maximální šířka obsahu uvnitř sekcí je 1100px
	- "pruh" s obsahem obsah je vycentrovaný na stránce
	- všechny sekce mají nahoře a dole padding 80px
	- kromě hlavičky a patičky, které mají jen 30px
	- nadpisy jsou fontem Playfair Display, tučně
	- veškerý další text na stránce fontem Lora
	- výchozí velikost textu na stránce je 18px, řádkování 1.5

	Velikosti nadpisů:
	h1 - 52px  (nadpis v horní Hero sekci s cupcakem)
	h2 - 36px  (nadpisy v dalších sekcích)
	h3 - 18px  (název produktu v Dnešní nabídce)
	Nadpisy mají řádkování jen 1.25

	Barvy:
	#f195b2		růžová - tlačítka a zvýraznění
	#d2567d		tmavá růžová - hover/aktivní tlačítka
	#3e606b		tmavá tyrkysová - na nadpisy
	#242424		(skoro) černá - na běžný text
	#f0f0f0		světle šedé pozadí prostřední sekce
	#303339		tmavé pozadí patičky
*/


body {
	margin: 0;
	font-family: 'Lora', serif;
	font-size: 18px;
	line-height: 1.5;
	color: #242424;
}

h1, h2, h3 {
	font-family: 'Playfair Display', serif;
	font-weight: 700;
	color: #3e606b;
	line-height: 1.25;
	margin-left: 20px;
}

h1 {
		font-size: 52px;
}

h2 {
		font-size: 36px;
}
	
h3 {
		font-size: 18px;
}

.sirka {	
	max-width: 1100px;
	margin-left: auto;
	margin-right: auto;
}

.section {
	margin: 0 auto;
	padding: 80px 0;
}

.header {
	display: flex;
	justify-content: space-between;
	padding-top: 30px;
	margin-bottom: 30px;

}

.header .logo {
	width: 170px;
	margin-left: 20px;
}

.menu {
	display: flex;
	
}

.menu a {
	text-decoration: none;
	color: #242424;
	padding: 10px 15px;
}

.menu li {
	list-style: none;
}

.tlacitko {
	color: white;
	background-color: #f195b2;
	border-radius: 20px;
	text-decoration: none;
}

.tlacitko:hover {
	background-color: #d2567d;
}

.hero {
	height: 600px;
	background-image: url(images/cupcake.jpg);
	background-size: cover;	
	background-position: center;
	margin-top: 0;
}

.hero h1, .hero p {
	color: white;
	padding-right: 40%;
}

.hero p {
	font-size: 24px;
}

.vitejte {
	display: flex;
	justify-content:center;
}

.vitejte-levy {
	padding-right: 30px;
}

.vitejte-levy .text {
	margin-bottom: 30px;
}
/* Tady jsem chtěla odsadit od textu tlačítko marginem-top, ale nehnulo to s ním, nemůžu vymyslet proč :) Tak jsem to obešla divem a marginem na text. */

.vitejte-levy .tlacitko {
	padding: 15px 40px;
	border-radius: 30px;
	margin-left: 15px;
}

.cukrarka {
	border-radius: 5px;
	max-width: 50%;
	object-fit: cover;
}

.nabidka {
	background-color: #f0f0f0;
}

.nabidka h2 {
	margin: 0 20px 20px 20px;
}

.produkty {
	display: flex;
	flex-wrap: wrap;	
}

.produkt img {
	border-radius: 5px 5px 0 0;
} 

.produkt {
	background-color: white;
	box-shadow: 3px 3px 3px rgba(124, 124, 124, 0.1);
	border-radius: 5px;
	margin:15px;
	display:flex;
	flex-direction: column;
	max-width: 245px;
}

.produkt h3, p{
	margin: 20px;
}

.produkt h3 {
	text-align: center;
}

.pristup {
	display: flex;
	justify-content: center;
}

.pristup-pravy {
	margin-left: 30px;
}

.peceni {
	border-radius: 5px;
	max-width: 50%;
	object-fit: cover;
}

.footer {
	text-align: center;
	color: white;
	background-color: #303339;
	padding: 30px 0;
	margin-bottom: 0;
	position:relative;
}

.footer a {
	text-decoration: 0;
	color: #ffb9e0;	
}
